.result_wrap{
    display: flex;
    width: 100%;
}
.result_wrap div{
    width: 20%;
    padding: 10px;
}
.result_wrap h2{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.won .guess{
    color:green
}
.lost .guess{
    color:red
}
